.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e2a38; /* Dark background */
}

.loginBox {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
}

.icon {
  margin-right: 10px;
  color: #7f8c8d;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  top: 35%;
  background: none;
  border: none;
  color: #7f8c8d;
  cursor: pointer;
}

.loginButton {
  padding: 12px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.loginButton:hover {
  background-color: #2980b9;
}
